<!DOCTYPE html>
<html>
  <head>
    <title>User Directory - Main</title>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="users">
      <div><a href="/employed">Employed</a></div>
      <div><a href="/unemployed">Looking For Work</a></div>
    </div>

  </body>
</html>
